.main-header{
  background-color: $couleur;
  .search-bar{
    form {
      input{
        display: block;
        padding: 5px;
        border: solid 1px $vert;
        background-color: $couleur;
      }
      button{
        background: none;
        float: left;
        border: hidden;
        color: $vert;
        display: block;
        position: absolute;
        top: 10px;
      }
    }
  }

  .nav-menu{
    button{
      background-color: $vert;
      span{
        background-color: #fff;
      }
    }
    .nav.navbar-nav{
      float: right;
      li{
        a{
          color: $noir;
        }
      }
      li:hover{
        a{
          background: none;
          position: relative;
        }
      }
    }
  }
}