@import "variables";


/*responsive design*/
@media (max-width: 992px) {
  .experts-isotope{
    .expert{
      width: calc(100% / 3);
    }
  }
}

@media (max-width: 768px) {
  .main-header{
    .nav-menu{
      margin: 0;
      .nav.navbar-nav{
        float: none;
      }
    }
  }
  .slide{
    .content-text{
      padding: 10px;
      h1{
        font-size: 30px;
      }
      width: 100% !important;
      bottom: 100px !important;
    }
  }
  h1{
    font-size: 30px;
  }
  .main-theme{
    .expert-photos{
      .nom{
        h4{
          font-size: 15px;
        }
        p{
          font-size: 10px;
        }
      }
    }
  }
  .theme-pays{
    img{
      height: 400px;
    }
  }
  .liste{
    .expert-descrip{
      img{
        display: block;
        margin: auto;
      }
    }
  }
  .experts-isotope{
    .expert{
      width: 50%;
      .details{
        bottom: -60%;
      }
    }
  }
  .banniere-page{
    .container{
      height: 300px;
    }
    .content{
      width: 85%;
    }
  }
  .corps-page{

    #mediatheque{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .lecteur-video{
        width: 100%;
        overflow: hidden;
        height:  auto;
        margin-bottom: 15px;
      }

      .gallerie-photos{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .cadre-photo{
          width: 50%;
          height:  auto;
          padding: 0 5px;

          .filtre{
            -webkit-transform: scale(1);
          }
        }
      }
    }

    .section-suggestions{
      .liste-suggestions{
        li{
          width: 50%;
          .cadre-photo{
            height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .main-theme{
    .expert-photos{
      .nom{
        h4{
          font-size: 25px;
        }
        p{
          font-size: 15px;
        }
      }
    }
  }
  .experts-isotope{
    .expert{
      width: 100%;
    }
  }
}