#side{
  background-color: $couleur;
  .side_menu{
    padding: 10px;

    h3{
      font-family: $police2;
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0 0 15px;
    }

    .search-bar{
      form{
        display: flex;
        flex-direction: row;

        input[type=search]{
          width: 80%;
          border: solid 1px $vert;
          padding: 5px 10px;
          height: 40px;
        }
        button{
          border: solid 1px $vert;
          background-color: $vert;
          height: 40px;
          width: 20%;
          color: #fff;
        }
      }
    }

    a{
      color: $vert;
    }
  }
}