
@import "variables";
@import "header";

.main-theme{
  h1{
    text-align: center;
    padding: 20px 0;
  }
  .choix-theme{
    background-color: $couleur;
    a{
      color: $noir;
      padding: 5px;
      font-size: 16px;
      text-align: center;
    }
    a:hover{
      color: $vert;
    }
  }
  .expert-photos{
    padding: 20px 5px;
    a{
      text-align: center;
      display: inline-block;
      height: auto;
      position: relative;
      overflow: hidden;
      .nom{
        width: 100%;
        height: 100%;
        padding-top: 20px;
        background-color: rgba($vert,0.5);
        position: absolute;
        left: 0;
        top: 100%;
        transition: all 0.8s ease;
        color: #fff;
      }
    }
    a:hover{
      .nom{
        top: 0;
      }
    }
  }
}


.theme-pays{
  background-color: $couleur;
  h1{
    text-align: center;
    padding: 20px 0;
  }
  p{
    display:  inline-block;
    padding: 100px 10px 10px 10px;
  }
}

.actu{
  padding-bottom: 10px;
  h1{
    text-align: center;
    padding: 20px 0;
  }
  ul{
    list-style: none;
    a{
      color: #fff;
      padding: 20px 30px;
      font-size: 16px;
      text-align: center;
      vertical-align: top;
      background-color: $vert;
    }
  }
  .actualite{
    border: solid 2px $vert;
    padding: 10px;
    margin: 5px 0;
    img{
      display: block;
      margin: auto;
    }
    span{
      float: right;
      color: $vert-fonce;
    }
  }
}
.main-img{
  padding: 0;
  .content{
    h1{
      margin-top: 0;
      padding: 10px;
    }
    P{
      padding: 10px;
    }
    height: 500px;
    width: auto;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
}
.liste{
  padding: 10px;
  .expert-descrip{
    border: solid 2px $vert;
    padding: 5px;
    margin: 5px 0;
    a{
      color: $vert;
    }
    .btn{
      float: right;
      background: none;
      color: $noir;
      border-radius: 0;
      border: solid 1px $vert-fonce;
    }
  }
}

#side{
  background-color: $couleur;
  .side_menu{
    padding: 10px;

    .search-bar{
      padding: 5px 0 5px 0;
      overflow: hidden;
      form {
        float: right;
        input{
          border: solid 1px $vert;
          background-color: $couleur;
          width: 100%;
        }
        button{
          background: none;
          float: left;
          border: hidden;
          color: $vert;
          display: block;
          position: absolute;
          top: 20px;
        }
      }
    }
    a{
      color: $vert;
    }
  }

  .theme{
    h1{
      color: $noir;
    }
    .btn{
      float: right;
      background-color: $couleur;
      color: $noir;
      border-radius: 0;
      border: none;
    }
  }
}

@import "mainCarousel";
@import "footer";
@import "responsive";