
@import "variables";
@import "header";
body{
  font-family: $police1
}

*, *:active{
  outline: none;
}

.main-theme{
  .section-title{
    text-align: center;
    padding: 20px 0;
    font-size: 36px;
  }
}
a:hover,
a:active{
  text-decoration: none;
}


.section-title{
  font-family: $police2
}

.experts-isotope{
  .expert{
    display: inline-block;
    width: 25%;
    padding: 10px;
    height: 250px;
    position: relative;
    overflow: hidden;

    .frame{
      width: 100%;
      overflow: hidden;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .details{
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      padding: 20px;
      background-color: rgba($vert, 0.7);
      color: #fff;
      text-align: center;
      position: absolute;
      left: 10px;
      bottom: -100%;
      $transitionTime: 0.5s;
      -webkit-transition: all $transitionTime ease-in-out;
      -moz-transition: all $transitionTime ease-in-out;
      -ms-transition: all $transitionTime ease-in-out;
      -o-transition: all $transitionTime ease-in-out;
      transition: all $transitionTime ease-in-out;

      .nom{
        font-size:  20px;
        margin-bottom: 15px;
        font-family: $police2;
      }
    }
  }
  .expert:hover{
    .details{
      bottom: 10px;
    }
  }
}

.choix-theme{
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: row;
  justify-content: center;

  li{
    flex-grow: 1;
    margin: 0 1px;

    button{
      display: inline-block;
      width: 100%;
      border: none;
      background: none;
      height: 60px;
      text-transform: uppercase;
      font-family: $police2;
      font-size: 18px;
      color: #393939;
      position: relative;
    }
    button.active:after{
      content: '';
      display: block;
      width: 20%;
      height: 2px;
      background-color: $vert;
      position: absolute;
      left: 40%;
      bottom: 0;
    }
  }
}
.select-theme{
  border: solid 1px #a1a1a1;
  width: 100%;
  display: inline-block;
  height: 40px;
  padding: 0 5px;
}

.theme-pays{
  background-color: $couleur;
  .section-title{
    text-align: center;
    padding: 20px 0;
  }
  p{
    display:  inline-block;
    padding: 100px 10px 10px 10px;
  }
}

.actu{
  padding-bottom: 10px;
  .section-title{
    text-align: center;
    padding: 20px 0;
  }
  ul{
    list-style: none;
    a{
      color: #fff;
      padding: 20px 30px;
      font-size: 16px;
      text-align: center;
      vertical-align: top;
      background-color: $vert;
    }
  }
  .actualite{
    border: solid 2px $vert;
    padding: 10px;
    margin: 5px 0;

    .picture_frame{
      overflow: hidden;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h4{
      color: $noir;
      font-weight: 700;
    }
    .pays{
      color: #fff;
      display: inline-block;
      padding: 3px 8px;
      background-color: $vert-fonce;
      border-right: 2px;
    }
    h5{
      font-style: italic;
      color: $noir;
    }
    p{
      color: $noir;
    }
  }
}


.page-banner{
  background-size: cover;
  background-position:  center center;

  .container{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 400px;

    .content{
      width: 50%;
      .page-title{
        font-size: 42px;
        color: #fff;
        font-family: $police2;
      }
      .small-title{
        color: #fff;
      }
    }
  }
}




@import "mainCarousel";
@import "footer";
@import "liste-experts";
@import "detail-expert";
@import "sidebar";
@import "responsive";